/* Carousel section styles */

.carousel-control-next-icon,
.carousel-control-prev-icon {
    background-color: #ffffff4d;
    width: 3rem;
    height: 3rem;
    background-size: 60% 60%;
    border-radius: 50%;
    backdrop-filter: blur(20px);
}

.carousel-indicators button {
    border-radius: 50% !important;
    width: 12px !important;
    height: 12px !important;
}

.carousel_item__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 75%;
    margin: 0 auto;
    padding: 43px 0;
    gap: 36px;
}

.carousel-image {
    width: 300px;
    height: 300px;
    object-fit: cover;
}

.carousel-text h2 {
    font-size: 36px;
}

/* Sohalar kesimida davlat xaridlari section styles */

.category-box h4 {
    background-color: var(--blue-900);
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    min-height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.image-overlay-container {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}

.image-overlay-container img {
    transition: transform 0.3s ease;
    max-width: 177px;
    max-height: 177px;
}

.image-overlay-container:hover img {
    transform: scale(1.1);
}

.image-overlay-container .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;
    border-radius: 10px;
}

.image-overlay-container:hover .overlay {
    opacity: 1;
}

.image-overlay-container .overlay span {
    color: white;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}

/* So'ngi maxsulotlar section styles */

#latest-products .icon-star {
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.product-img img {
    max-width: 250px;
}



/*=========== MEDIA QUERY (Kichik ekranlar) ===========*/

@media (max-width: 991.98px) {

    /* Carousel section */
    .carousel_item__wrapper {
        flex-wrap: wrap-reverse;
        justify-content: center;
        align-items: center;
        padding: 27px 0 60px 0;
        gap: 20px;
    }

    .carousel-text {
        text-align: center;
    }

    .carousel-text h2 {
        font-size: 20px;
    }

    .carousel-image {
        width: 200px;
        height: 200px;
        object-fit: cover;
    }
}