:root {
    /* Font Families */
    --font-family-primary: "Inter", serif;

    /* Border radius */
    --border-radius-4: 4px;
    --border-radius-8: 8px;
    --border-radius-12: 12px;

    /* Line height */
    --line-height-120: 120%;
    --line-height-130: 130%;
    --line-height-140: 140%;
    --line-height-150: 150%;

    /* Spacing */
    --spacing-4: 4px;
    --spacing-8: 8px;
    --spacing-12: 12px;
    --spacing-16: 16px;
    --spacing-24: 24px;
    --spacing-32: 32px;

    /* Colors */
    --white: #fff;
    --blue-100: #d1e9ff;
    --blue-200: #b2ddff;
    --blue-400: #53b1fd;
    --blue-600: #1570ef;
    --blue-700: #175cd3;
    --blue-900: #194185;
    --gray-50: #f9fafb;
    --gray-100: #f2f4f7;
    --gray-200: #e4e7ec;
    --gray-300: #d0d5dd;
    --gray-400: #98a2b3;
    --gray-430: #888888;    
    --gray-450: #717680;
    --gray-500: #667085;
    --gray-550: #6b7280;
    --gray-600: #475467;
    --gray-700: #414651;
    --gray-800: #1d2939;
    --warning-300: #fec84b;
    --orange: #ff9843;
    --black: #181d27;
}